<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- 로그를 어디에 기록할까? -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
        <!-- 콘솔 로그 출력의 문턱은 INFO다. (INFO 레벨보다 낮은 로그는 모두 무시하겠다.)-->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/Users/hyeong-il/Desktop/Codeit/7-develop/logs/app.log</file>

        <!-- 날짜가 바뀔 때 (자정 기준) 로그 파일 분리-->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/Users/hyeong-il/Desktop/Codeit/7-develop/logs/app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-DD HH:mm:ss.SSS} [%-5level] [%thread] %logger{36} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

<!--    <logger name="com.example.loggingdemo" level="DEBUG" />-->
<!--    <logger name="org.springframework.web" level="WARN" />-->

    <!-- 기본 로그 레벨 설정 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>